<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.discountconverter"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.NoActionBar" >

        <activity
            android:name="de.discountconverter.TabsActivity"
            android:label="Rabatt Rechner"
            android:parentActivityName="android.app.TabActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.app.TabActivity" />
        </activity>
        
        <activity
            android:name="de.discountconverter.DiscountActivity"
            android:label="Rabattrechner"
            android:screenOrientation="portrait" >
            
        </activity>
        
        <activity
            android:name="de.discountconverter.VerlaufActivity"
            android:label="Verlauf">
        </activity>
        
        
        <activity
            android:name="de.discountconverter.FractionActivity"
            android:label="Bruchrechner">
        </activity>
        
    </application>

</manifest>
